/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
  }

  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

body{
    font-family: sans-serif;
}

/* ===========================
Header
============================== */

.main-header{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
    padding-right: 0;
    margin-bottom: 5%;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 0;
    height: 60vh;
    background-image: url(../IMAGES/contact.jpg);
}

.nav-list{
    align-items: center;
    background-color: transparent;
    display: flex;
    word-wrap: inherit;
}

.navbar-inverse{
    /* display: flex; */
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 15px; */
    padding-right: 20px;
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-brand{
    color: #fff;
}

.navbar-brand{
    margin-left: 20px;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
}

.navbar-right{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    float: right;
    margin-right: -15px;
}

.navbar-inverse .navbar-right > li{
    list-style: none;
    float: left;
    padding: 16px;
    position: relative;
    display: block;
}

.navbar-right > li > a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navbar-right >  li > a:hover{
    color: #8e6d45;
}
  .header-text{
    text-align: left;
    margin-left: 130px;
    margin-top: 50px;
  }

  .header-text > h6{
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 15px;
    letter-spacing: 5px;
  }

  .header-text > h1{
    color: #fff;
    font-size: 60px;
    font-family: serif;
    /* font-weight: bold; */
    line-height: 1.25em;
    margin: 0 0 20px 0;
  }

  .fa-star{
    padding-bottom: 7px;
  }


  #Icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
  }

  .fa-bars{
    color: #fff;
  }
/* =======================
Hero Section
========================== */
.hero{padding: 120px 0;}

.info{
    margin: 0 10%;
}

.form-note{
    display: flex;
    margin-bottom: 90px;
}

.note{
    text-align: left;
    width: 60%;
    height: auto;
}

.note h3{
    font-size: 24px;
    padding-bottom: 6px;
    line-height: 1.25em;
    font-family: serif;
    color: #222;
}

.note p{
    color: #666;
    line-height: 1.75em;
    font-size: 15px;
    padding-bottom: 15px;
}

.icon{
    display: flex;
    margin-bottom: 6px;
}

.fa-phone{
    padding-right: 27px;
    color: #8e6d45;
  }

  .fa-envelope-o{
    color: #8e6d45;
    padding-right: 20px;
  }

  .fa-map-marker{
    color: #8e6d45;
    padding-right: 35px;
  }
  
  .text p{
    color: #666;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .text a{
    text-decoration: none;
    cursor: pointer;
    color: #8e6d45;
    font-size: 27px;
    text-transform: none;
  }

  .text a:hover{
    color: #8e6d45;
  }

  .form{
    width: 41.555%;
    text-align: left;
    /* margin-left: 20px; */
  }

  .form h3{
    font-size: 24px;
    padding-bottom: 6px;
    line-height: 1.25em;
    font-family: serif;
    color: #222;

}

form{
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
}

.input{
    width: 50%;
    flex: 0 0 auto;
}

input{
   max-width: 100%;
   width:95%;
   background: transparent;
   border-bottom: 1px #ececec;
   box-shadow: none;
   font-family: sans-serif;
   font-size: 15px;
   color: #222;
   line-height: 1.5em;
   padding: 10px 0;
   background-image: none;
   display: block;
   border-width: 0 0 1px;
   height: auto;
   border-style: solid;
   margin-bottom: 15px;
   display: block;
}

textarea{
    max-width: 100%;
    width: 100%;
    background: transparent;
    border-bottom: 1px #ececec;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.5em;
    padding: 10px 0;
    background-image: none;
    display: block;
    border-width: 0 0 1px;
    height: auto;
    border-style: solid;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    flex: 0 0 auto;
 }

input:hover{
    border-style: solid #8e6d45;
}

textarea:hover{
    border-style: solid #8e6d45;
}

button{
    background-color: #8e6d45;
    border: #8e6d45;
    padding: 15px;
    color: #fff;
}

button:hover{background-color: #000;}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

/* =============================
Footer
================================ */
.main-footer{
    background-color: #222;
    color: #fff;
    padding: 90px 0 60px 0;
    z-index: 1;
  }
  
  /* .footer-container{
    margin-left: 7%;
    margin-right: 7%;
  } */
  
  .footer-row{
    display: flex;
    color: #fff;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .footer-about{
    color: #fff;
    width: 33.3%;
    padding: 0 7px;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .footer-about h3{
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }
  
  .footer-about p{
    color: #adadad;
    line-height: 2em;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
  }
  
  .footer-language{
    margin-top: 30px;
    width: 160px;
    /* height: 50px; */
    flex-wrap: wrap;
    position: relative;
    display: flex;
    background-color: #282828;
    color: #adadad;
  }
  
  .footer-language select{
    height: 50px;
    width: 160px;
    color: #adadad;
    border:1px solid #282828;
    background: inherit;
    cursor: pointer;
  }
  
  .footer-language option{
    color: #fff;
  }
  
  /* .footer-language i{
    position: absolute;
      right: 30px;
      top: 17px;
      font-size: 15px;
      opacity: 0.6;
      color: #adadad;
      box-sizing: border-box;
  } */
  
  .footer-explore{
    width: 25%;
    margin-left: 8.3%;
  }
  
  .footer-explore-inner{
    margin-bottom: 30px;
    text-align: left;
  }
  
  .footer-explore-inner h3{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-explore-links{
    display: inline;
    color: #adadad;
    cursor: pointer;
  }
  
  .footer-explore-links ul{
    padding-left: 0;
    line-height: 2em;
  }
  
  .footer-explore-links ul li{
    list-style: none;
    margin-top: 3px;
  }
  
  .footer-explore-links a{
    text-decoration: none;
    text-transform: none;
    color: #adadad;
  }
  
  .footer-explore-links ul li:hover{
    list-style-type: disc;
    color: #8e6d45;
  }
  
  .footer-footer-contact{
    width: 33.3%;
  }
  
  .footer-contact-inner{
    margin-bottom: 30px;
    text-align: left;
  }
  
  .footer-contact-inner h3{
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-contact-info{
    display: inline;
    color: #fff;
  }
  
  .footer-par{
    color: #adadad;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.75em;
  }
  
  .footer-contact-info{
    color: #fff;
    display: inline;
  }
  
  .footer-contact-phone{
    display: flex;
    font-size: 17px;
    color: #fff;
  }
  
  .footer-contact-mail{
    color: #fff;
    text-decoration: 2px underline #8e6d45;
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
    padding-bottom: 5px;
  }
  
  .fa-x{
    color: #fff;
    padding-right: 5px;
  }
  
  .footer-container{
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .footer-container-2{
    background: #1e1e1e;
    text-align: center;
    position: relative;
    padding: 32px 0;
    height: 10vh;
    color: #fff;
  }
  
  .footer-icons{
    display: flex;
    color: #fff;
  }
  
  .footer-icons i{
    padding: 12px;
    color: #fff;
    cursor: pointer;
  }
  
  .footer-icons i:hover{
    color: #8e6d45;
  }

/* =============================
Pre-loader
================================ */
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #8e6d45;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  
  /* ==============================
  Back To Top Button
  ================================= */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #8e6d45; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #f5d7b2; /* Add a dark-grey background on hover */
  }

   /* ==============================
  Map
  ================================= */
  .map {	
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }



    @media only screen and (max-width:650px){
      body{
        max-width: 650px;
      }

      .header-text{
        margin: 50px;
      }

      .header-text h1{
        text-transform: uppercase;
        font-weight: 500;
      }

      .hero{
        max-width: 650px;
      }

      .form-note{
        display: flex;
        flex-wrap: wrap;
      }

      .note{
        width: 100%;
      }

      .note p br{
        display: none;
      }

     .form{
      width: 100%;
      margin-top: 7%;
     } 

     .input{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
     }

     .footer-row{
      display: flex;
      flex-wrap: wrap;
      max-width: 650px;
    }
  
    .footer-about br{
      display: none;
    }
  
    .footer-about{
      width: 100%;
    }
  
    .footer-explore{
      width: 100%;
      margin: 0;
    }
  
    .footer-contact{
      width: 100%;
    }

    #Icon {
      display: block;
      font-size: 20px;
    }
    
    .navigations {
      display: none;
    }
    
     .navigations{
      position: fixed;
      width: 100%;
      top: 100px;
      left: 0;
      transition:  0.3s;
      text-align: left;
      z-index: 7;
      padding: 20px;
      background: #fff;
    }
    
    .navbar-inverse .navigations li{
      width: 100%;
      list-style: none;
    }
    
    .navbar-inverse .navigations li a{
      color: #1e1e1e;
      font-size: 12px;
    }
    
    .navbar-inverse .navigations li a:hover{
      color: #8e6d45;
    }
    }


    @media only screen and (min-width:651px)  and (max-width:1060px){
      body{
        max-width: 1060px;
      }

      .hero{
        width: 100%;
        max-width: 1060px;
      }

      .note{
        width: 50%;
      }

      .form{
        width: 41.667%;
        margin-left: 8.333%;
      }

      .note p br{
        display: none;
      }

      .main-footer{
        max-width: 1060px;
      }
    }

    @media (max-width: 760px){
      .text a{
        font-size: 16px;
      }

      .header-text h1{
        font-size: 29px;
      }
  
    #Icon {
      display: block;
      font-size: 20px;
    }
    
    .navigations {
      display: none;
    }
    
     .navigations{
      position: fixed;
      width: 100%;
      top: 100px;
      left: 0;
      transition:  0.3s;
      text-align: left;
      z-index: 7;
      padding: 20px;
      background: #fff;
    }
    
    .navbar-inverse .navigations li{
      width: 100%;
      list-style: none;
    }
    
    .navbar-inverse .navigations li a{
      color: #1e1e1e;
      font-size: 12px;
    }
    
    .navbar-inverse .navigations li a:hover{
      color: #8e6d45;
    }
  }